<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ page['lang'] }}" lang="{{ page['lang']   }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ page['title'] }}</title>
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
    <!--
    <script type="text/javascript" src="../Shared/yahoo-min.js"> </script>
    <script type="text/javascript" src="../Shared/dom-min.js"> </script>
    <script type="text/javascript" src="../Shared/event-min.js"> </script>
    <script type="text/javascript" src="../Shared/dragdrop-min.js"> </script>
    <script type="text/javascript" src="../Shared/connection-min.js"> </script>
    <script type="text/javascript" src="../Shared/animation-min.js"> </script>
    <script type="text/javascript">
      var oucontentSupportFileLocation="Shared";
      var oucontentSupportItemsLocation="../Items";
    </script>
    <script type="text/javascript" src="../Shared/oucontent.js"></script>
    <script type="text/javascript" src="../Shared/extra.js"> </script>
    <script type="text/javascript" src="../Shared/ufo.js"> </script> -->
  </head>
  <body class="mod-oucontent" id="mod-oucontent-view">
    <div id="page">
      <div class="package_header">
        <span>{{ page['title'] }}</span>
        <span class="main-logo">
          <a href=""> <!-- TODO: link to what? -->
            <img class="rightfloated" src="../Shared/main_logo.png" width="444" height="63"/>
          </a>
        </span>
      </div>
      <div>
        <div id="middle-column">
          <div class="oucontent-content">

            {{ page['main_content'] }}

            <div class="oucontent-copyright" style="display:block">
              <p>
                <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"/>{{ page['title'] }}</span>
                <br/>
                <img src="images/copyright.png" alt="Creative Commons non-commercial share alike icon" style="float: right; padding-left: 20px; padding-right: 10px;"/>
                Except for third party materials and otherwise,
                this content is made available under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 Licence.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>